<h1>
  Movie Search API
</h1>

<hr>

<div class="container">
    <img src="<%= @my_link %>" >
    <h2><%= @movie_title %> </h2>
    <span><%= @movie_rating %> </span>
    <span><%= @movie_release %> </span>
    <p><%= @movie_overview %> </p>

  <% @my_json.each do |element| %>
    <%= element[1] %>
    <%= @my_movie %>
    <p>Link:<%= @my_json[1].to_s[1].to_s[1].to_s[2] %></p>
    <h2>teste</h2>
  <% end %>


  <hr>

</div>

